@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 5% 12%;
    --foreground: 0 0% 98%;
    --card: 30 5% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 30 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 90 48% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 5% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 30 5% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 30 5% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 5% 25%;
    --input: 30 5% 25%;
    --ring: 90 48% 45%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 30 5% 12%;
    --foreground: 0 0% 98%;
    --card: 30 5% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 30 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 90 48% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 5% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 30 5% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 30 5% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 5% 25%;
    --input: 30 5% 25%;
    --ring: 90 48% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
